header {
 border-style: solid;
 border-width: 1px;
 border-color: black;
 padding: 5px;
}

nav >  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav >  * li {
	float: left;
	margin: 15px;
}


body {
	background-color: white;
	font-family: 'Roboto', sans-serif;
}

.disabled {
	color: grey;
}

.active {
	color: yellow;
}

.red {
	color: red;
}

.blue {
	color: blue;
}

.redsis{
	background-color: red;
}

.bluebro{
	background-color: blue;
}

.childgp {
 border: 1px solid;
 border-radius: 25px;
 padding: 5px;
}

.promo {
	color: gold;
	font-weight: bold;
}

input {
	height: 25px;
}